.RegisterUserForm
{

height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.RegisterUserForm .Form
{
    display: flex;
    flex-direction: column;
    width: 30%;
   
}

.RegisterUserForm  .btn-primary
{
    width: 20%;
    margin-top: 5%;
    margin-right:5%;
}
.RegisterUserForm  .btn-danger
{
    width: 20%;
    margin-top: 5%;
}