.button{
    display:flex;
    gap:12px;
}

.nav-background
{
background-color: #50C4ED;
}

.text
{
    color:#4F4D4D;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.items
{
    display: flex;
   gap:20px;
   align-self: center;
}

ul {
    list-style-type: none;
  }

  .HoverEffect:hover{
    color:white;
  }

  .navbar a{
    text-decoration: none;
    color: #4F4D4D;
  }