.userPanel
{
/* background-color:aqua; */
display: flex;
flex-direction: row;
height: 100vh;
/* background-color: aquamarine; */
}

.SlideBar
{
    height: 100%;
    width: 4%;
    border-right:solid;
    border-width: 1px;
    border-color: #4F4D4D;
    background-color:  #50C4ED;
    padding-top: 4%;
    
}



.SlideBarChild
{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: space-between; 
    align-items: center;
}

.UserDetails
{
    
   
    display: flex;
    height: 60%;
   

}

.SlideBarOption
{
    width: 70%;
    list-style-type: none;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 6%;
}
.User
{
    width: 60%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.DashBoardTable{
    margin-left: 3%;
    margin-top:3%;
    overflow: auto;

}

.IncidentContainer .Incidents
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}



.Profile
{
    width:40%;
    margin-left: 3%;
}

.NonSlideBar
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.IncidentContainer
{
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76%;
}

.IncidentSpan
{
    width: 80%;
    display: flex;
    height: 40%;

}

.Block
{
    background-color:#50C4ED;
    height:10%;
}

.SlideBarChild a
{
    color: black;
}